.btn-add {
    background: url(/src/assets/add-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    padding: 0%;
    width: 18px;
    height: 18px;
    border: 0;
}